/* {
	box-sizing: border-box;
}*/

body {
	font-family: "Roboto", sans-serif;
	color: #252525;
}

header {
	background-color: #eebb44;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row-1, row-2 {
	padding-left: 1.0416%;
	padding-right: 1.0416%;	
	float: left;
}

.col-1, .col-2 {
	border: 1px solid lightgray;
	margin: 20px;
	float: left;
}

p {
	padding-left: 10px;
}

