 * {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	color: #252525;
}

header {
	background-color: #eebb44;
	padding: 10 0 10 0;
	margin-bottom: 40px;
}
.box:first  {
  margin-right: 6em;
  margin-left: 6em;
  margin-bottom: 2em;
}
.col-4 {
	border: 1px solid lightgray;
	}

.card-image {
	width: 33.3333%;
	/*padding-left: 0;*/
}

.card-content {
	padding: 20px;
}

/*.card-content h3 {
  margin: 0;
}

.card-content p {
  margin: 0.5em 0;
}
*/






